<div id="nav">
	<div id="content">
		<%= link_to 'â† Back', profiles_path %>
	  <div class="right">
			<%= link_to 'Show Profile', @profile %>
		</div>
	</div>
</div>

<div id="main">
  <div id="content">
		<h2>Edit profile</h2>
		<%= render 'form' %>
	</div>
</div>
