<div id="nav">
	<div id="content">
		<%= link_to 'â† Back', profiles_path %>
	  <div class="right">
			<%= link_to 'New Profile', new_profile_path %>
		</div>
	</div>
</div>

<div id="main">
	<div id="inner">
		<h2>New profile</h2>
		<%= render 'form' %>
	</div>
</div>