<div id="header">
	<div id="content">
		<h1>New profile</h1>
		</div>
	</div>

<div id="nav">
	<div id="content">
		<%= link_to 'â† Back', profiles_path %>
	  <div class="right">
			<%= link_to 'New Profile', new_profile_path %>
		</div>
	</div>
</div>

<div id="main">
	<div id="content">
		<%= render 'form' %>
	</div>
</div>