body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  text-shadow: #EEE 1px 1px 0;
}

img {
  padding: 0px 10px 0px 10px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #666; }
a:visited { color: #666; }
a:hover { color: #0084B4; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

h1, h2 {
    margin: 0;
    padding: 5px;
}
h1 a, h1 a:visited, h1 a:hover {
  color: white;
  text-decoration: none;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#content {
    clear: both;
    margin: 0 auto;
    width: 827px;
}

#header {
    background-color: #DD4814;
    color: #FFFFFF;
    padding: 15px;
    text-shadow: black 0px 1px;
}
#header h1 {
    font-weight: normal;
}

#nav {
    background-color: #F2F2F2;
    margin-bottom: 15px;
    padding: 5px;
}

#main {
    padding: 5px;
}

.right {
    float: right;
}

#submitted {
  font-size:.8em;
  color: #666;
}

#disqus_thread {
  margin-top: 20px;
}

.left {
    float: left;
}
#inner {
    width: 675px;
    margin: 0 auto;
}
#inner ul {
    list-style: none;
}
#inner ul li {
    border-bottom: 1px solid #DDD; 
    padding: 10px;
}
#inner p span {
    color: #DD4814;
    font-weight: bold;
}

h4 { margin: 0; padding: 0; }
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#footer {
  background-color: #EEE;
  margin-top: 30px;
  padding: 20px 20px 60px;
}
#footer, #footer a, #footer li {
  font-size: 11px;
}
#footer .list {
  float: left;
  margin-right: 15px;
  width: 125px;
}
#footer .credits {
  clear: right;
  float: right;
}
#footer .license {
  clear: both;
  color: #AAA;
  padding-top: 10px;
}
